border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments


/**
 * Color Swatches
 */
turquoise = #1ABC9C    // turquoise
green-sea = #16A085    // dark turquoise
emerland = #2ECC71     // green
nephritis = #27AE60    // dark green
peter-river = #3498DB  // blue
belize-hole = #2980B9  // dark blue
amethyst = #9B59B6     // purple
wisteria = #8E44AD     // dark purple
wet-asphalt = #34495E  // dark blue
midnight-blue = #444   // extra dark blue
sun-flower = #F1C40F   // yellow
orange = #F39C12       // dark yellow
carrot = #E67E22       // orange
pumpkin = #D35400      // dark orange
alizarin = #E74C3C     // red
pomegranate = #C0392B  // dark red
clouds = #eee          // light gray
dark-clouds = #ddd
silver = #bbb          // silver
concrete = #999        // gray
asbestos = #777        // dark gray

// options
optionsArrowSize = 6px

// general
borderRadius = 4px

body
  background-color #f5f5f5

// #main
//   overflow hidden
//   height 0px

/**
 * Search box
 */
#search
  position relative
  overflow hidden

  .fa-search
    color #444
    cursor pointer
    font-size 28px
    position absolute
    top 242px
    right 20px

  input
    border-color dark-clouds
    font-size 20px
    height 60px

    &:-webkit-input-placeholder
      color silver

    &:focus, &:active
      outline none
      border-color peter-river



/**
 * Fee Finder
 */
#code
  color midnight-blue
  text-align left
  position relative

  /**
   * Header
   */
  .header
    margin-bottom 15px
    border-radius borderRadius

    h1
      color #444
      font-size 40px
      margin-top 0

      small
        color concrete

    .fa-times-circle,
    .fa-times-circle-o
      margin-top 2px
      margin-right 17px
      font-size 36px

    .fa-times-circle-o
      color pomegranate

    .fa-times-circle
      color clouds


  /**
   * Configuration
   */
  config-spacing = 20px
  config-bg = #262729

  .options
    border-radius borderRadius
    background-color config-bg
    color white
    list-style none
    // margin 0px
    padding 15px config-spacing
    position relative

    // options arrow
    &:before
      content ""
      border-style solid
      border-width 0 optionsArrowSize optionsArrowSize optionsArrowSize
      border-color transparent transparent config-bg transparent
      height 0px
      position absolute
      left 53px
      top -(optionsArrowSize)
      width 0px
      -webkit-transform rotate(360deg)

    .option
      display inline
      padding-left config-spacing
      padding-right config-spacing
      border-left 1px dotted asbestos

      &:first-child
        padding-left 0
        border-left none

      input
        &:focus
          border-color peter-river


    a
      color peter-river

    .faded
      color asbestos

    .fac-true .nonfac, .fac-false .fac
      display none


  /**
   * Fees
   */
  .fees
    margin-bottom 15px
    margin-top 15px

    .fee
      background-color white
      border-bottom 3px solid clouds
      border-radius borderRadius
      padding 10px 15px
      text-align center

      &:first-child
        // margin-left 0

      .description
        border-radius 0
        background-color transparent
        padding 0px 15px 20px
        text-transform uppercase
        font-size 13px
        color concrete

      .amount
        font-size 36px
        padding 0
        font-weight normal

        .dollar
          font-size 16px
          color nephritis
          vertical-align 12px

/**
 * Popovers
 */
.popover
  color #333
  background-color transparent
  border 0px solid green-sea
  padding 0

  p
    margin 0

  .popover-title
    display none

  .popover-content
    background-color white
    border-radius borderRadius

  input
    background-color white
    border-color silver
    margin-bottom 0
    color midnight-blue
    width 146px

    &:-webkit-input-placeholder,  /* WebKit browsers */
    &:-moz-placeholder,  /* Mozilla Firefox 4 to 18 */
    &:-moz-placeholder,  /* Mozilla Firefox 19+ */
    &:-ms-input-placeholder /* Internet Explorer 10+ */
      color silver

  button
    margin-left 3px

  ul
    margin -10px -15px
    border-radius borderRadius
    overflow hidden
    background-color white
    min-width 80px
    padding-left 0px

    li
      list-style none
      // display inline

      // rounded top corners
      &:first-child
        span, a
          border-radius borderRadius borderRadius 0 0

      // rounded bottom corners
      &:last-child
        span, a
          border-radius 0 0 borderRadius borderRadius

      span, a
        display block
        padding 8px 13px

      a
        text-decoration none

        &:hover
          background-color peter-river
          color white !important

      span
        color silver

  // arrow
  popoverArrowSize = optionsArrowSize + 2px

  .arrow {
    border-width: popoverArrowSize;
  }

  &.bottom
    .arrow {
      margin-left: -(popoverArrowSize);
      top: -(popoverArrowSize);
    }
    .arrowafter
      border-bottom-color clouds


/**
 * Misc
 */
#header
  padding-top 40px
  padding-bottom 30px

  img
    max-width 13px
    vertical-align 0
    margin-right 2px

  &.demo-headline
    color #444
    padding 40px 0 30px
    text-align center

    img
      max-width 65px
      margin-right 5px

  small
    color silver

    &:hover
      a
        color peter-river
        text-decoration underline

    a
      color silver

  a
    color #444
    text-decoration none



footer
  background-color transparent
  color dark-clouds
  margin-bottom 50px
  text-align center
  transition color 0.25s !important

  a
    color dark-clouds
    font-weight normal
    text-decoration none
    transition color 0.25s !important

  .pipe
    color clouds
    display inline-block
    margin 0 5px
    transition color 0.25s !important

  &:hover
    color concrete

    a
      color peter-river
      text-decoration underline

    .pipe
      color silver

    .fa-heart
      color pomegranate

.muted
  color concrete

// add bottom border to buttons
.btn
  border-bottom 2px solid midnight-blue

  &.btn-primary
    border-bottom-color green-sea

  &.btn-info
    border-bottom-color belize-hole

  &.btn-success
    border-bottom-color nephritis

  &.btn-danger
    border-bottom-color pomegranate

  &.btn-warning
    border-bottom-color orange

.close-fee
  cursor pointer

input:active, btn:active,
input:focus, btn:focus
  outline none
