/**
 * Color Swatches
 */
/**
 * Arrows
 */
/* line 33, ../scss/screen.scss */
#main {
  margin: 30px 0;
  overflow: hidden;
  height: 0px;
}

/**
 * Search box
 */
/* line 42, ../scss/screen.scss */
#search {
  position: relative;
}
/* line 45, ../scss/screen.scss */
#search .icon-search {
  color: #34495e;
  font-size: 28px;
  position: absolute;
  top: 15px;
  right: 20px;
}
/* line 53, ../scss/screen.scss */
#search input {
  font-size: 20px;
  height: 40px;
  margin: 0;
}
/* line 58, ../scss/screen.scss */
#search input::-webkit-input-placeholder {
  color: #bdc3c7;
}

/**
 * Fee Finder
 */
/* line 69, ../scss/screen.scss */
#code {
  color: #34495e;
  text-align: left;
  position: relative;
  /**
   * Header
   */
  /**
   * Configuration
   */
  /**
   * Fees
   */
}
/* line 78, ../scss/screen.scss */
#code .header {
  margin-bottom: 15px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
/* line 82, ../scss/screen.scss */
#code .header h1 {
  margin-left: 12px;
  color: #34495e;
  margin-top: 0;
}
/* line 87, ../scss/screen.scss */
#code .header h1 small {
  color: #95a5a6;
}
/* line 93, ../scss/screen.scss */
#code .header .icon-remove-circle,
#code .header .icon-remove-sign {
  margin-top: 2px;
  margin-right: 17px;
  font-size: 36px;
}
/* line 98, ../scss/screen.scss */
#code .header .icon-remove-sign {
  color: #e74c3c;
}
/* line 99, ../scss/screen.scss */
#code .header .icon-remove-circle {
  color: #ecf0f1;
}
/* line 109, ../scss/screen.scss */
#code .options {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  background-color: #34495e;
  color: white;
  list-style: none;
  margin: 0px;
  padding: 20px 15px;
  position: relative;
}
/* line 119, ../scss/screen.scss */
#code .options:before {
  content: "";
  border-style: solid;
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #34495e transparent;
  height: 0px;
  position: absolute;
  left: 53px;
  top: -8px;
  width: 0px;
  -webkit-transform: rotate(360deg);
}
/* line 132, ../scss/screen.scss */
#code .options .option {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  border-left: 1px dotted #7f8c8d;
}
/* line 138, ../scss/screen.scss */
#code .options .option:first-child {
  padding-left: 0;
  border-left: none;
}
/* line 144, ../scss/screen.scss */
#code .options a {
  color: #1abc9c;
}
/* line 148, ../scss/screen.scss */
#code .options .faded {
  color: #7f8c8d;
}
/* line 152, ../scss/screen.scss */
#code .options .fac-true .nonfac, #code .options .fac-false .fac {
  display: none;
}
/* line 159, ../scss/screen.scss */
#code .fees {
  margin: 15px 0;
}
/* line 162, ../scss/screen.scss */
#code .fees .fee {
  background-color: #ecf0f1;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  display: inline-block;
  padding: 10px 15px;
  width: 271px;
  margin-left: 15px;
  margin-bottom: 15px;
  text-align: center;
}
/* line 172, ../scss/screen.scss */
#code .fees .fee:first-child {
  margin-left: 0;
}
/* line 176, ../scss/screen.scss */
#code .fees .fee .description {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 13px;
  color: #95a5a6;
}
/* line 185, ../scss/screen.scss */
#code .fees .fee .amount {
  font-size: 36px;
  padding: 0 0 20px;
  font-weight: normal;
}
/* line 190, ../scss/screen.scss */
#code .fees .fee .amount .dollar {
  font-size: 16px;
  color: #27ae60;
  vertical-align: 12px;
}
/* line 197, ../scss/screen.scss */
#code .fees .fee .btn-copy-container {
  position: relative;
  display: block;
  height: 50px;
  width: 100%;
}
/* line 205, ../scss/screen.scss */
#code .fees .fee .btn-copy-container .btn, #code .fees .fee .btn-copy-container .btn-content {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}
/* line 212, ../scss/screen.scss */
#code .fees .fee .btn-copy-container .btn {
  position: absolute;
  left: 0;
}
/* line 217, ../scss/screen.scss */
#code .fees .fee .btn-copy-container .btn-copied {
  top: 0;
}
/* line 218, ../scss/screen.scss */
#code .fees .fee .btn-copy-container .btn-copy {
  top: -50px;
}
/* line 220, ../scss/screen.scss */
#code .fees .fee .btn-copy-container .btn-content {
  position: absolute;
  left: 30px;
}
/* line 225, ../scss/screen.scss */
#code .fees .fee .btn-copy-container .btn-content-copied {
  top: 0;
}
/* line 226, ../scss/screen.scss */
#code .fees .fee .btn-copy-container .btn-content-copy {
  top: -50px;
}
/* line 229, ../scss/screen.scss */
#code .fees .fee .copy-to-clipboard {
  position: relative;
  overflow: hidden;
}
/* line 233, ../scss/screen.scss */
#code .fees .fee .copy-to-clipboard .copied {
  position: absolute;
  background-color: #2ecc71;
  color: white;
  top: 0;
  left: -273px;
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
}

/**
 * Popovers
 */
/* line 252, ../scss/screen.scss */
.popover {
  color: #333;
  background-color: transparent;
  border: 0px solid #16a085;
  padding: 0;
}
/* line 258, ../scss/screen.scss */
.popover p {
  margin: 0;
}
/* line 260, ../scss/screen.scss */
.popover .popover-title {
  display: none;
}
/* line 264, ../scss/screen.scss */
.popover .popover-content {
  background-color: #ecf0f1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 269, ../scss/screen.scss */
.popover input {
  background-color: white;
  border-color: #bdc3c7;
  margin-bottom: 0;
  color: #2c3e50;
  width: 146px;
  padding: 4px 5px;
}
/* line 281, ../scss/screen.scss */
.popover input::-webkit-input-placeholder, .popover input:-moz-placeholder, .popover input::-moz-placeholder, .popover input:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #bdc3c7;
}
/* line 286, ../scss/screen.scss */
.popover button {
  margin-left: 3px;
}
/* line 290, ../scss/screen.scss */
.popover ul {
  margin: -10px -15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #ecf0f1;
  min-width: 80px;
}
/* line 297, ../scss/screen.scss */
.popover ul li {
  list-style: none;
}
/* line 303, ../scss/screen.scss */
.popover ul li:first-child span, .popover ul li:first-child a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 310, ../scss/screen.scss */
.popover ul li:last-child span, .popover ul li:last-child a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
/* line 315, ../scss/screen.scss */
.popover ul li span, .popover ul li a {
  display: block;
  padding: 8px 13px;
}
/* line 320, ../scss/screen.scss */
.popover ul li a {
  background-color: transparent;
  color: #34495e;
  text-decoration: none;
}
/* line 325, ../scss/screen.scss */
.popover ul li a:hover {
  background-color: #bdc3c7;
}
/* line 328, ../scss/screen.scss */
.popover ul li span {
  background-color: #ecf0f1;
  color: #bdc3c7;
}
/* line 337, ../scss/screen.scss */
.popover.bottom .arrow:after {
  border-bottom-color: #ecf0f1;
}

/**
 * Misc
 */
/* line 346, ../scss/screen.scss */
.demo-headline {
  padding: 60px 0 0px;
  text-align: center;
}
/* line 349, ../scss/screen.scss */
.demo-headline small {
  color: #bdc3c7;
}

/* line 353, ../scss/screen.scss */
footer {
  background-color: transparent;
  color: #bdc3c7;
  text-align: center;
}
/* line 357, ../scss/screen.scss */
footer a {
  color: #1abc9c;
  font-weight: normal;
}
/* line 361, ../scss/screen.scss */
footer .pipe {
  color: #ecf0f1;
  display: inline-block;
  margin: 0 5px;
}

/* line 367, ../scss/screen.scss */
.muted {
  color: #95a5a6;
}

/* line 370, ../scss/screen.scss */
.alert-error {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: white;
  text-shadow: 0 1px 0 #c0392b;
}

/* line 376, ../scss/screen.scss */
.alert {
  padding-bottom: 21px;
  padding-top: 21px;
}

/* line 380, ../scss/screen.scss */
footer {
  margin-bottom: 50px;
}

/* line 385, ../scss/screen.scss */
.btn {
  border-bottom: 2px solid #2c3e50;
}
/* line 388, ../scss/screen.scss */
.btn.btn-primary {
  border-bottom-color: #16a085;
}
/* line 392, ../scss/screen.scss */
.btn.btn-info {
  border-bottom-color: #2980b9;
}
/* line 396, ../scss/screen.scss */
.btn.btn-success {
  border-bottom-color: #27ae60;
}
/* line 400, ../scss/screen.scss */
.btn.btn-danger {
  border-bottom-color: #c0392b;
}
/* line 404, ../scss/screen.scss */
.btn.btn-warning {
  border-bottom-color: #f39c12;
}

/* line 409, ../scss/screen.scss */
.close-fee {
  cursor: pointer;
}
