<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Feebie &mdash; A Medicare fee schedule lookup engine.</title>

    <!-- app -->
    <link href="css/vendors.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="css/app.css" media="screen, projection" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="container">

      <div class="row mtl">
        <div class="col-xs-10 col-xs-offset-1">

          <!-- main region -->
          <div style="margin-top: 20px; margin-bottom: 20px;">
            <div id="main" class="row"></div>
          </div>
          <!-- /end main region -->

        </div>
      </div>

      <!-- footer -->
      <footer class="mtl">Made with <i class="fa fa-heart"></i> and <a href="http://en.wikipedia.org/wiki/CoffeeScript">coffeecript</a>. <span class="pipe">|</span> Version 0.2.1</footer>

      <!-- notifications -->
      <ul id="notifications"></ul>

    </div> <!-- /container -->

    <script id="tplNotification" type="text/template">
      <i class="fa <%= iconClass %>"></i>
      <%= message %>
      <a class="notification-dismiss" href="#">&times;</a>
    </script>

    <script id="tplCode" type="text/template">
      <header id="header">
        <h4>
          <img src="img/illustrations/book.png" alt=""> Feebie <small>A fee schedule lookup engine.</small>
        </h4>
      </header>

      <div class="header">
        <i class="close-fee fa fa-times-circle-o pull-right"></i>
        <h1><%= code %> <small><%= description %></small></h1>
      </div>
    </script>

    <script id="tplOptions" type="text/template">
      <div class="options col-xs-12">
        <div class="option fac-option">
          <span>Location: <a href="#"><%= fac %></a></span>
        </div>
        <div class="option coinsurance-option">
          <span>Co-ins: <a class="popover-trigger" href="#"><%= coinsuranceMultiplier %>%</a></span>
        </div>
        <div class="option quantity-option">
          <span>Qty: <a class="popover-trigger" href="#"><%= quantity %></a></span>
        </div>
        <div class="option modifier1-option">
          <span>Mod1: <a class="popover-trigger" href="#"><%= modifier1 %></a></span>
        </div>
        <div class="option modifier2-option">
          <span>Mod2: <a class="popover-trigger" href="#"><%= modifier2 %></a></span>
        </div>
      </div>
    </script>

    <script id="tplFee" type="text/template">
      <div class="fee">
        <h2 class="amount"><span class="dollar">$</span><%= amount %></h2>
        <div class="description"><%= categoryId %></div>
      </div>
    </script>

    <!-- <button class="btn btn-large btn-block btn-primary copy-to-clipboard">
        <i class="fa fa-copy"></i>&nbsp;Copy to Clipboard
        <span class="btn btn-large btn-block btn-primary copied"><i class="fa fa-ok"></i>&nbsp;Copied to Clipboard</span>
      </button> -->


    <script id="tplSearchForm" type="text/template">
      <header class="demo-headline" id="header">
        <h1 class="demo-logo">
          <img src="img/illustrations/book.png" alt=""> Feebie
          <small>A fee schedule lookup engine. (Not <a href="http://en.wikipedia.org/wiki/Phoebe_Buffay">Phoebe</a>.)</small>
        </h1>
      </header>

      <form action="" method="get">
        <input type="text" value="" placeholder="Type a cpt code and press enter..." class="col-xs-12" />
        <i class="fa fa-search"></i>
      </form>
    </script>

    <script src="js/vendors.js"></script>
    <script src="js/app.js"></script>
    <script>
      window.FF.addInitializer(function() {
        window.FF.controller = new window.FF.Controller();
        window.FF.router = new window.FF.Router({controller: window.FF.controller});
        window.FF.mainRegion = new window.FF.Regions.Main();
        window.FF.notifications = new window.FF.Collections.Notifications();
        new window.FF.Views.Notifications({collection: window.FF.notifications}).setElement($('#notifications')[0]);
      });

      window.FF.on('initialize:after', function() {
        Backbone.history.start({pushState: true});
      });

      window.FF.start();
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-39622852-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
